<!DOCTYPE html>
<html lang="en" data-bs-theme="<%= theme %>">

<head>
    <%- include('../partials/header') %>
</head>

<body>
    <%- include('../partials/navbar') %>
    <div class="container-fluid">
        <main role="main" class="pb-3 mb-5">
            <h4 class="mb-3">Orçamento Mensal</small></h4>
            <div class="accordion" id="monthlybudget"></div>
        </main>
    </div>

    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>

</html>