<!DOCTYPE html>
<html lang="en" data-bs-theme="<%= theme %>">

<head>
    <%- include('../partials/header') %>
</head>

<body>
    <%- include('../partials/navbar') %>
        <div class="container">
            <main role="main" class="pb-3 mb-5">
                <div>
                    <div class="row g-5">
                        <div class="col-md-7 col-lg-8">
                            <h4 class="mb-3">Transações</small></h4>
                            <%- include('../partials/pagination') %>
                                <table id="tbTransactions" class="table table-hover table-striped caption-top">
                                    <caption>                                        
                                        <div class="d-flex flex-row justify-content-between">
                                            <div class="p-2 flex-fill">
                                                <form id="search" novalidate>
                                                    <div class="row">
                                                        <div class="col">
                                                            <select class="form-select" id="month"></select>
                                                        </div>
                                                        <div class="col">
                                                            <select class="form-select" id="year"></select>
                                                        </div>
                                                        <div class="col">
                                                            <button class="btn btn-outline-info" type="submit">Buscar</button>
                                                        </div>
                                                    </div>
                                                </form>  
                                            </div>
                                            <div class="p-2">
                                                <a href="transactions/create"
                                                    class="btn btn-outline-primary">Cadastrar</a>
                                            </div>
                                        </div>
                                    </caption>
                                    <thead>
                                        <tr class="table-dark">
                                            <th>Dia</th>
                                            <th>Descrição</th>
                                            <th>Categoria</th>
                                            <th>Pagamento</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                                <%- include('../partials/pagination') %>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <%- include('../partials/footer') %>
            <%- include('../partials/scripts') %>
</body>

</html>