<!DOCTYPE html>
<html lang="en" data-bs-theme="<%= theme %>">

<head>
    <%- include('../partials/header') %>
</head>

<body>
    <%- include('../partials/navbar') %>
        <div class="container">
            <main role="main" class="pb-3 mb-5">
                <div>
                    <div class="row g-5">
                        <div class="col-md-7 col-lg-8">
                            <h4 class="mb-3">Transações</small></h4>

                            <table id="tbTransactions" class="table table-hover table-striped caption-top">
                                <caption><strong>Fevereiro</strong>/2024</caption>
                                <thead>
                                    <tr class="table-primary">
                                        <th>Dia</th>
                                        <th>Descrição</th>
                                        <th>Categoria</th>
                                        <th>Pagamento</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                   
                                </tbody>

                            </table>
                            <nav id="pagination" aria-label="Page navigation">

                            </nav>
                        </div>
                    </div>
                </div>
            </main>
        </div>

        <%- include('../partials/footer') %>
        <%- include('../partials/scripts') %>
</body>

</html>